.social-icons {
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;

    a {
        text-decoration: none;
        margin-right: .31rem;

    }
    svg {
        color: #888a90;
        height: 24px;
        width: 24px;
        &:hover {
            color: rgb(221, 221, 221);
        }
    }
}
